<mat-accordion>
  <mat-expansion-panel (opened)="refDataPanel = true" (closed)="refDataPanel = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Tags
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ref Data</mat-label>
      <input type="text" matInput [(ngModel)]="refData" placeholder="Ex. pat@example.com">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTags()">Primary</button>
  </mat-expansion-panel>
</mat-accordion>
