<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbarClass">
      <span class="name">Programmity</span>
      <div *ngIf="loggedInUserName" class="menuClass">
        <!-- <button mat-button (click)="routeToTipsnTricks()" [disabled]="true">Tips n Tricks</button>
        <button mat-button (click)="routeToQnA()" [disabled]="true">Q & Answers</button> -->
        <a mat-flat-button target="_blank" [matMenuTriggerFor]="menu" class="linkClass">{{ loggedInUserName
          }}&#9660;</a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editProfile()" [disabled]="true">Edit Profile</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
