<mat-card>
  <mat-card-content [formGroup]="qnaForm">
    <mat-form-field appearance="standard">
      <mat-label>Ask your Question</mat-label>
      <textarea matInput placeholder="Ask your question" formControlName="question"></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Add Tags</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let addedTag of addedTags" (removed)="remove(addedTag)">
          {{addedTag}}
          <!--  <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button> -->
        </mat-chip>
        <input placeholder="Add Tag" formControlName="postTag" [matAutocomplete]="auto" [matChipInputFor]="chipList"
          (matChipInputTokenEnd)="add($event)" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag._id">
          {{tag.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="submitPost()">Submit</button>
    <button mat-raised-button (click)="submitPost()">Cancel</button>
  </mat-card-actions>
</mat-card>
